:root {
  font: 16px / 1 sans-serif;
  
/* SCSS RGB */
$smitten: rgba(205, 51, 130, 1);
$battleship-grey: rgba(128, 130, 123, 1);
$white: rgba(253, 253, 253, 1);
$black-olive: rgba(67, 69, 65, 1);
$rich-black-fogra-39: rgba(10, 10, 9, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #cd3382ff, #80827bff, #fdfdfdff, #434541ff, #0a0a09ff);
$gradient-right: linear-gradient(90deg, #cd3382ff, #80827bff, #fdfdfdff, #434541ff, #0a0a09ff);
$gradient-bottom: linear-gradient(180deg, #cd3382ff, #80827bff, #fdfdfdff, #434541ff, #0a0a09ff);
$gradient-left: linear-gradient(270deg, #cd3382ff, #80827bff, #fdfdfdff, #434541ff, #0a0a09ff);
$gradient-top-right: linear-gradient(45deg, #cd3382ff, #80827bff, #fdfdfdff, #434541ff, #0a0a09ff);
$gradient-bottom-right: linear-gradient(135deg, #cd3382ff, #80827bff, #fdfdfdff, #434541ff, #0a0a09ff);
$gradient-top-left: linear-gradient(225deg, #cd3382ff, #80827bff, #fdfdfdff, #434541ff, #0a0a09ff);
$gradient-bottom-left: linear-gradient(315deg, #cd3382ff, #80827bff, #fdfdfdff, #434541ff, #0a0a09ff);
$gradient-radial: radial-gradient(#cd3382ff, #80827bff, #fdfdfdff, #434541ff, #0a0a09ff);

}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

.logo {
  width: 100px;
  height: 100px;
}
